body{
	background-image:url(http://www.eaststreetrestaurant.com/assets/img/bg-index.jpg);
}

#header{
	border:1px;
	text-align:center;
	font-size:25px;
	font-family:fantasy;
	background-color:#FF8C00;
}
#footer{
	border: 1px solid;
	text-align: center;
	padding: 5px;
	align:bottom;
	font-size:18px;
	background-color:#FF8C00;
}
#pageLinks{
	border-bottom:1px solid;
	height:10px;
}
#linkTable{
	cellpadding:10px;
	align: bottom-left;
	width: 30%;
	font-size:20px;
	background-color:#FF8C00;
}


